* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
 background: linear-gradient(90deg,rgb(156, 20, 20) 0%, rgba(94, 8, 73, 1) 50%, rgba(156, 20, 20, 1) 100%);
  color: white;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.toolbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 20px auto 0;
  background-color: rgb(240, 240, 240);
  border: 2px solid black;
  font-family: 'Poppins', sans-serif;
}

.operaciones{
  display: grid;
  grid-template-areas: 
  "header header header"
  "content content content";
  flex-direction: column;
  justify-content: center;
}

.header-area{
  grid-area: header;
  color: black;
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  background-color: white;
  border-color: 2px solid lightgray;
  border-radius: 8px;
  margin: 5px;
}

.cont-area{
  display: flex;
  justify-content: space-evenly;
}

.cont-container{
  padding: 2px;
  margin: 2px;
  justify-content: space-between;
  font-size: 20px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 2px;
}

img{
  margin-top: 10px;
  width: 50px;
  height: 60px;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.ope{
  background: linear-gradient(90deg,rgb(156, 20, 20) 0%, rgba(94, 8, 73, 1) 50%, rgba(156, 20, 20, 1) 100%);
  border-radius: 2px;
}

.tamanio{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: fit-content;
  padding: 2.5px;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.main{
  margin-top: 25px;
  background-color: rgb(248,248,248);

}